{% extends 'base.html' %}


{% block content %}
    {# Wrap this in a div#}
   <h3 id=style="text-align: center">{{ user.username }}, here are your posts</h3>
    {% for post in posts %}
    <div class="post_body">
        <h3>{{ post.title }}</h3>
        {% if post.image %}
        <img src="{{ post.image.url }}">
            <br>
            <br>
        {% endif %}

        <p>{{ post.body }}</p>

        {% for help in post.comments.all %}
            {{ user.username }} says:<br>
            <li>{{ help.comment }}</li>
        {% endfor %}
    </div>

    {% endfor %}
{% endblock %}
