{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{# Wrap this in a div#}
    {% for post in posts %}
        <div class="post_body">
            <h3>{{ post.title }}</h3>

        {% if post.image %}
            <img src="{{ post.image.url }}" alt="/Users/GKadillak/Projects/help/fix_it/static/media/img/mk.jpg"> <br><br>
        {% endif %}

        <p style="text-align: left"><strong>{{ post.body }}</strong></p>

        _________________________________________________________________________________ <br>

        {% for help in post.comments.all %}
            <div>
                <a href="{% url 'up_vote' help.id %}" class="down_or_up" style="margin-left: 20px"><img src="{% static 'img/arrow_up.png    ' %}" style="width: 15px; height: 14px"></a>
                <div class="show_votes" style="left: -5px">{{ help.get_votes }}</div>

            {% endif %}
            <div style="text-align: left">{{ help.author }} says:<br>
            <p style="display: inline">{{ help.comment }}</p>
            </div>

            </div> <br>
        {% endfor %}

    <a href="{% url 'new_comment' post.id %}">Help fix this problem!</a>
    </div>
    {% endfor %}

{% endblock %}